html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Abel', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.container {
    padding: 0 150px;
}
.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url("img/IMG_0219.JPG");
    background-position: center;
    background-size: cover;
    position: relative;
}
nav {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}
nav img {
    width: 150px;
    cursor: pointer;
}
.nav-links {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #111;
    z-index: 2;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 1s;
}
.nav-links ul li {
    list-style: none;
    margin: 40px 0;
}
.nav-links ul li a {
    text-decoration: none;
    font-size: 50px;
    color: #fff;
    padding: 10px;
    letter-spacing: 5px;
    position: relative;
}
.nav-links ul li a::after {
    content: "";
    height: 3px;
    width: 0%;
    background-color: #2196f3;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s width linear;
}
.nav-links ul li a:hover::after {
    width: 100%;
}
.close-icon {
    font-size: 35px;
    color: #2196f3;
    position: absolute;
    right: 100px;
    top: 40px;
    cursor: pointer;
}
.menu-icon {
    font-size: 35px;
    color: #2196f3;
    cursor: pointer;
}
.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1 {
    font-size: 62px;
}
.text-box p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
.hero-btn {
    position: relative;
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 0.1em;
    font-weight: 400;
    padding: 10px 30px;
    transition: 0.5s;
}
.hero-btn:hover {
    color: #111;
    letter-spacing: 0.20em;
    background-color: #fff; 
    box-shadow: 0 0 35px #fff;
}
.campus {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.campus-col {
    width: 22%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    border: 2px solid #999;
    border-radius: 30px;
    padding: 1px;
}
.campus-col img {
    width: 100%;
}
.campuss {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
}
.campus h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 35px;  
    color: #111;  
}
.campus p {
    font-size: large;
}
.layer {
    width: 100%;
    height: 97%;
    border-radius: 30px;
}
.layer p {
    color: #111;
    font-size: 15px;
}
.layer-title {
    width: 100%;
    font-weight: 500;
    color: #001;
    font-size: 26px;
}
.cta {
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url("img/bg-jdp-search-manufacturing-1900x920-1500x630.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 150px 0;
}
.cta h1 {
    color: #fff;
    margin-bottom: 30px;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 35px;
}
.cta h1 span {
    color: #888;
}
.cta h1 img {
    width: 100px;
}
.cta a {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #2196f3;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transform: 0.2s;
}
.cta a:hover {
    color: #255784;
    background-color: #2196f3;
    box-shadow: 0 0 10px #2196f3,
    0 0 40px #2196f3,
    0 0 80px #2196f3;
    transition-delay: 1s;
}
.cta a span {
    position: absolute;
    display: block;
}
.cta a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #2196f3);
}
.cta a:hover span:nth-child(1) {
    left: 100%;
    transition: 1s;
}
.cta a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #2196f3);
}
.cta a:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
.cta a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #2196f3);
}
.cta a:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
.cta a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #2196f3);
}
.cta a:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}
.footer {
    width: 100%;
    text-align: center;
    padding: 10px 0 70px 0;
}
.footer h4 {
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 35px;  
    color: #111;  
}
.footer p {
    font-size: large;
}
.footer p span {
    color: #2196f3;
}
.footer ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 40px;
}
.footer ul li {
    position: relative;
    list-style: none;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
}
.footer ul li .icon {
    font-size: 3em;
    -webkit-text-stroke: 2px var(--clr);
    color: transparent;
}
.footer ul li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    border-bottom: 4px solid var(--clr);
    transition: 0.5s ease-in-out;
    font-family: fontAwesome;
    text-align: center;
    line-height: 78px;
    font-size: 3em;
    color: var(--clr);
}
.footer ul li:hover::before {
    height: 100%;
}
.footer ul li:nth-child(1)::before {
    content: "\f232";
}
.footer ul li:nth-child(2)::before {
    content: "\f2c6";
}
.footer ul li:nth-child(3)::before {
    content: "\f095";
}
.name {
    color: #888;
    margin-top: 80px;
    font-size: 12px;
}
.name a {
    text-decoration: none;
    color: #2196f3;
}
@keyframes animate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
};
@media(max-width:1650px){
    .campus-col {
        width: 40%;
    }
    .layer-title {
        font-size: 30px;
    }
    .layer p {
        font-size: 20px;
    }
    .container {
        padding: 0 100px;
    }
}
@media(max-width:900px){
    .layer-title {
        font-size: 20px;
    }
    .layer p {
        font-size: 16px;
    }
}
@media(max-width:800px){
    .text-box h1 {
        font-size: 20px;
    }
    .campus-col {
        width: 80%;
        margin: auto;
        margin-bottom: 30px;
    }
    .container {
        padding: 0 80px;
    }
}
@media(max-width:700px){
    .cta h1 {
        font-size: 24px;
    }
}
@media(max-width:600px){
    .container {
        padding: 0 10px;
    }
}
@media(max-width:450px){
    .close-icon {
        right: 50px;
    }
}
@media(max-width:330px){
    .nav-links ul li {
        margin: 0;
    }
    .nav-links ul li a {
        font-size: 40px;
    }
}